#splash {
   position: fixed;
   top: 10%;
   left: 10%;
   background-color: #FFFFFF;
    
   width: 80%;
   height: 80%;

   z-index: 900;
 
   /* /\*Juste au cas où*\/ */
   /* margin: 0px; */
   /* padding: 0px; */
}

#splash iframe {
    width: 100%;
    height: 100%;
}

#close {
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 1000;
    opacity: 0.3;
    font-size: 32px;
    border: medium outset;
}

#close:hover {
  opacity: 1;
}
